@media screen {

body {color: red;
    font-size:100%;
    background-color: pink;
padding: 10px;}

h2 {color: green;
    font-style:italic;
font-size:1.5em;}

header h2 {color: black;}

article span {color: black;}

p {color: blue;
font-size:18px;}

p.two {color: black;
font: bold 15px Arial, sans-serif;}

nav a:link{color: white;
background-color:red;}

nav a:visited{color: white;
    background-color:red;}

nav a:hover{color:red;
background-color:white;}

header {text-align: center;
    background: -moz-linear-gradient(top, rgba(255,0,132,1) 0%, rgba(255,0,132,1) 5%, rgba(255,0,132,0.4) 52%, rgba(255,0,132,0.51) 61%, rgba(255,0,132,0.69) 75%, rgba(255,0,132,0.89) 91%, rgba(255,0,132,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 5%,rgba(255,0,132,0.4) 52%,rgba(255,0,132,0.51) 61%,rgba(255,0,132,0.69) 75%,rgba(255,0,132,0.89) 91%,rgba(255,0,132,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 5%,rgba(255,0,132,0.4) 52%,rgba(255,0,132,0.51) 61%,rgba(255,0,132,0.69) 75%,rgba(255,0,132,0.89) 91%,rgba(255,0,132,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084',GradientType=0 ); /* IE6-9 */}

li {list-style:none;
font-variant:small-caps;
display:inline-block;}

a {text-decoration:none;
display:inline-block;
width:120px;
height:20px;
margin: 2px;
border: 1px solid white;
padding:5px;}

h1 {font-family:courier;
font-size:2em;}

footer{font-weight:bold;}

article h2{background-image: linear-gradient(white, yellow);}


article {border-bottom: 2px solid black;}

}

@media print {
    header, footer {display: none;}
}